:root {
  --main-white: #f0f0f0;
  --main-red: #be3144;
  --main-blue: #45567d;
  --main-gray: #303841;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
  line-height: 1.4;
  color: var(--main-white);
}

#navbar {
  background-color: var(--main-red);
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  padding: 25px;
  position: fixed;
  top: 0;
  z-index: 1;
}

#navbar ul {
  display: flex;
  list-style-type: none;
}

#navbar ul li {
  margin: 0 20px;
}

#navbar ul li a {
  text-decoration: none;
  color: var(--main-white);
}

#welcome-section {
  background-color: black;
  background: linear-gradient(45deg, #3a3d40, #181719);
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#welcome-section h1 {
  color: var(--main-white);
  font-size: 3rem;
  text-align: center;
}

#welcome-section p {
  color: var(--main-red);
  font-size: 2rem;
  text-align: center;
}

#welcome-section p a {
  text-decoration: none;
  color: var(--main-red);
  font-style: italic;
  text-decoration: underline;
}

#projects {
  background-color: var(--main-blue);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 100px 0;
  text-align: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 50px;
}

.project-tile {
  width: 25%;
  min-width: 300px;
  aspect-ratio: 1;
  margin: 20px 10px;
  border: 2px solid black;
  border-radius: 5px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.project-tile a {
  width: 100%;
  position: absolute;
  bottom: 0;
  padding: 10px 0;
  text-align: center;
  text-decoration: none;
  color: black;
}

#contact {
  background-color: black;
  background: linear-gradient(45deg, #3a3d40, #181719);
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 100px 0;
}

.social-links {
  margin-top: 25px;
  display: flex;
  align-items: center;
}

.social-links a {
  margin: 20px;
  color: white;
  text-decoration: none;
}

.social-links a:hover {
  transform: scale(1.5);
}

@media (max-width: 500px) {
  .social-links {
    flex-direction: column;
  }
}
