body{
  margin: 0;
  background-color: #2525b6b3;
  color: white;
  font-size: 28px;
  font-family: Tahoma;
}

#title, #description{
  text-align: center;
}

form{
  background-color: #080021;
  width: 50%;
  min-width: 300px;
  margin: 0 auto;
  padding: 50px;
}

fieldset{
  border: none;
  margin: 20px 0;
}

label{
  margin: 10px 0;
}

input[type="text"],input[type="email"],input[type="number"],select,input[type="submit"]{
  width: 95%;
  padding: 20px;
  border-radius: 5px;
  border: 0px;
  margin: 5px auto;
  font-size: 28px;
}

input[type="checkbox"],input[type="radio"]{
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

#submit{
  background-color: green;
  width: 100%;
}

select{
  width: 100%;
}

textarea{
  width: 100%;
  margin: 10px 0;
}

.block{
  display: block;
}